Support reading pin from file or environment variable

In the initial release I intentionally left `pin-source` untouched:
https://github.com/cloudflare/gokeyless/blob/b3ce6258c20acf2dd7ff803185f7812e270a022b/internal/rfc7512/rfc7512.go#L156-L157

I propose the following format:
- Read from a file: `pin-source=file:/secrets/mypin`
- Read from environment variable: `pin-source=env:MYPIN`

Alternatively I can have `pin-source` directly read from a file and add a `pin-env` attribute for environment variables. Any thoughts?

Also, in the event that both `pin-source` (or `pin-env`) and `pin-value` are defined, which should take priority?

[RFC 7512](https://tools.ietf.org/html/rfc7512) does mention `pin-source=file:/etc/token_pin` as example, that seems reasonable to add.

`pin-env` on the other hand is non-standard and would not work with libraries such as [p11-kit](https://p11-glue.github.io/p11-glue/p11-kit/manual/p11-kit-URIs.html). [Section 2.4 of RFC 7512](https://tools.ietf.org/html/rfc7512#section-2.4) suggests to process the `pin-source` attribute in the following order:
- A URI such as `file:`, `http:`, etc.
- A pipe such as `|<absolute-command-path>`
- Implementation-specific way.

As `env` is currently not a [registered](https://www.iana.org/assignments/uri-schemes/uri-schemes.xhtml) URI scheme, I guess that `pin-source=env:FOO` could work.